@import 'md-variables';
@import 'md-card';
@import 'md-data-table-toolbar';
@import 'md-data-table-head';
@import 'md-data-table-body';
@import 'md-data-table-foot';
@import 'md-data-table-pagination';
@import 'md-data-table-progress';

md-data-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.md-select-menu-container.md-table-select {
  margin-top: -2px;
  margin-left: -2px;

  md-content {
    padding: 0;

    md-option .md-text {
      font-size: 13px;
    }
  }
}

table[md-data-table] {
  width: 100%;
  border-spacing: 0;
  background-color: #fff;
  overflow: hidden;

  // no checkboxes
  &:not([md-row-select]) > thead:not([md-table-progress]) > tr > th,
  &:not([md-row-select]) > tbody > tr > td,
  &:not([md-row-select]) > tfoot > tr > td {
    &:first-child {
      padding: 0 28px 0 24px;
    }
    &:nth-child(n+2):nth-last-child(n+2) {
      padding: 0 28px;
    }
  }

  // checkboxes
  &[md-row-select] > thead:not([md-table-progress]) > tr > th,
  &[md-row-select] > tbody > tr > td,
  &[md-row-select] > tfoot > tr > td {
    &:first-child {
      width: 18px;
      padding: 0 24px;
    }
    &:nth-child(2) {
      padding: 0 28px 0 0;
    }
    &:nth-child(n+3):nth-last-child(n+2) {
      padding: 0 28px;
    }
  }

  > thead:not([md-table-progress]) > tr > th,
  > tbody > tr > td,
  > tfoot > tr > td {
    text-align: left;

    &:last-child {
      padding: 0 24px 0 28px;
    }

    &:focus {
      outline: none;
    }

    > md-checkbox {
      margin: 0;
    }
  }
}
