// dark text on light backgrounds
$md-dark: rgba(0, 0, 0, 0.87);
$md-dark-secondary: rgba(0, 0, 0, 0.54);
$md-dark-disabled: rgba(0, 0, 0, 0.26);
$md-dark-icon: $md-dark-secondary;
$md-dark-divider: rgba(0, 0, 0, 0.12);

// white text on dark backgrounds
$md-light: rgba(255, 255, 255, 1);
$md-light-secondary: rgba(255, 255, 255, 0.70);
$md-light-disabled: rgba(255, 255, 255, 0.30);
$md-light-icon: $md-light;
$md-light-divider: rgba(255, 255, 255, 0.12);

// table
$md-dark-row-hover: #eee;
$md-dark-row-select: #f5f5f5;

// media small
$md-media-sm: 600px;
$md-media-lt-sm: ($md-media-sm - 1px);
$md-media-gt-sm: ($md-media-sm + 1px);

// media medium
$md-media-md: 960px;
$md-media-lt-md: ($md-media-md - 1px);
$md-media-gt-md: ($md-media-md + 1px);

// media large
$md-media-lg: 1200px;
$md-media-lt-lg: ($md-media-lg - 1px);
$md-media-gt-lg: ($md-media-lg + 1px);
